<!-- Header -->
<nav class="bg-light">
  <div class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand title" href="#">MeanBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Courses -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item nav-link">Angular</li>
        <li class="nav-item nav-link">Node+Express</li>
        <li class="nav-item nav-link">MongoDb</li>
        <li class="nav-item nav-link">Heroku</li>
      </ul>
    </div>
  </div>
</nav>