<!-- Footer -->
<footer class="page-footer font-small blue">
  <div>
    <!-- Footer information tile  -->
    <div class="row footer-info-tile">
      <!-- sign up -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 sign-up">
        <form class="input-group">
          <input type="text" class="form-control form-control-sm" placeholder="Example@gmail.com"
            aria-label="Your email" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-white" type="button">SIGN UP</button>
          </div>
        </form>
      </div>
      <!-- Info part -->
      <div class="col-md-6 col-lg-6 col-xl-6 info-tile">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 custom-label">
            ABOUT
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12  custom-label"
            [routerLink]="['/manav-kothari/portfolio']">
            PORTFOLIO
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 custom-label">
            HELP
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 custom-label">
            CONTECT
          </div>
        </div>
      </div>
    </div>
    <!-- follow div -->
    <div class="footer-follow col-12">
      <label>Follow on</label>
      <ul class="social-network social-circle">
        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    <!-- Copyright -->
    <div class="text-center p-4">
      © 2018 Copyright : Manav Kothari
    </div>
  </div>
</footer>