.footer{
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #272532;
    display: flex;
    padding-top: 3%;
}

footer.page-footer {
    padding: 1% 8%;
}
/** 
* Sign up css
*/
.sign-up{
	border-right: 1px solid #ca9e9e;
	margin: 5px 0px;  
}

/**
* Footer information container
*/
.footer-info-tile{
	margin-bottom: 3rem!important;
	margin-top: 3rem!important;
}

/**
* Info-tile
*/
.info-tile .custom-label{
	font-size: unset;
	text-align: right;
}

/**
* Content Div
*/
.content{
    width: 60%;
    height:25%;
    margin:0% 5%;
}

.content div{
	text-align: center;
}

/** 
* Share icons css 
* Icons
*/

/* Footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
}


/* footer social icons */
.social-network a.icoRss {
	background-color: #F56505;
}
.social-network a.icoFacebook {
	background-color:#3B5998;
}
.social-network a.icoTwitter {
	background-color:#33ccff;
}
.social-network a.icoGoogle {
	background-color:#BD3518;
}
.social-network a.icoVimeo {
	background-color:#0590B8;
}
.social-network a.icoLinkedin{
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li{
    padding:1%;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 30px;
	height: 30px;
	font-size:14px;
}
.social-circle li i {
	margin:0;
	line-height: 30px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}



a {
 background-color: #D3D3D3;   
}


/** 
* Footer css
*/
footer.page-footer {
    bottom: 0;
	color: #fff;
	padding: 1% 5%;
}
.font-small {
	font-size: .9rem;
}
.blue {
    background-color:#1c2331!important
}

.footer-follow{
	text-align: center;
	padding: 0.5rem 0rem;
	border-top: 1px solid #ca9e9e;
    border-bottom: 1px solid #ca9e9e;
}

.custom-label{
	color:#ca9e9e;
	font-size: 18px;
	width: 300px;
	font-weight: 500;
	cursor: pointer;
	margin: 15px 0px;
}

input{
	background-color: #1B1A22;
	color:#ca9e9e;
	border:0px;
	padding:12px;
	width: 300px;
}
.input-group{
	max-width: 370px;
}
.input-group input{
    padding: 20px;
}

.btn{
	background-color:slategrey;
}
label, div{
	color:#ca9e9e;
}

/**
* Large and extra large  device css
*/
@media (min-width: 1399px) { 
	footer.page-footer {
		padding: 1% 15%;
	}
}

@media (min-width: 991.98px) { 
    
}

/**
* Medium device css
*/
@media (min-width: 768px) and (max-width: 991.98px){
	.input-group input{
		padding: 15px;
	}
	.footer-info-tile{
		margin-bottom: 2rem!important;
		margin-top: 2rem!important;
	}
}

/**
* Small and extra small device css
*/
@media (max-width: 767px) {
	.input-group {
		max-width: 370px;
		margin: auto;
	}

	.social-circle li{
		padding:1%;
	}

	.social-circle li a {
		width: 25px;
		height: 25px;
		font-size:12px;
	}
	
	.social-circle li i {
		line-height: 26px;
	}

	.input-group input{
		padding: 10px;
	}
	
	.footer-info-tile{
		margin-bottom: 1rem!important;
		margin-top: 1rem!important;
	}

	.sign-up{
		border-right: 0px;
		margin: 5px 0px;  
	}

	.info-tile .custom-label{
		font-size: 12px;
		text-align: center;
		margin: 10px 0px;
		width: 100%;
	}
}