<!-- Main container -->
<div class="container-fluid">
  <!-- Article list -->
  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
    <!-- Article design -->
    <div class="article-main row pointer" [routerLink]="['/details/'+value]">
      <div class="article-img col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 p-0">
        <img src="../../../assets/images/0_PQk4Ns9M0SNLo2h7.jpg">
      </div>
      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 py-1">
        <div class="article-title">
          Angular coding best practice
        </div>
        <div class="article-description">
          learn how to develope roubust code and meintane well
        </div>
        <div class="articke-info">
          2.2.2017, 1 day ago
        </div>
      </div>
    </div>
  </div>
  <!-- Extra Article list like newest ,popular ,most viewed -->
  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">

  </div>
</div>