/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor: pointer;
}

.title-dark{
    color:#989696;
}

.bg-blue {
    background-color:#252934!important
}